* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

/* NAVBAR */
.navbar {
    background: #3957eb;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* HOME */
.home {
    background: linear-gradient(rgba(26, 169, 240, 0.5), rgba(95, 142, 188, 0.5)),
    url("img/katalog.jpeg") center/cover no-repeat;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.home h1 {
    font-size: 42px;
}

.home p {
    margin: 15px 0;
}

.btn {
    background: rgb(52, 209, 240);
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

/* ABOUT */
.about {
    background: #68b2ea;
    padding: 60px 20px;
    text-align: center;
}

.visi-misi {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

/* PRODUCT */
.product {
    background: #74edfa;
    padding: 60px 20px;
    text-align: center;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

/* CONTACT */
.contact {
    background: #23adec;
    padding: 60px 20px;
    text-align: center;
}

form {
    max-width: 400px;
    margin: auto;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background: #79b3f0;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
}

/* FOOTER */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
